<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>在线考试</title>
    <link rel="shortcut icon" type="image/icon" href="/static/img/logo_black.png">

    <!-- Bootstrap JQuery依赖 -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>

    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- 侧边栏跟随组件 -->
    <script src="/static/js/accessory.js"></script>
    <link rel="stylesheet" href="/static/css/test_online.css"/>
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
</head>
<body>
<div id="pane">
    <!-- 顶部固定标题栏 -->
    <div class="container-fluid shadow header">
        <div class="container">
            <div class="row">
                <div class="col-2 exam-title">{{ testName }}</div>
                <div class="col-3 exam-info">
                    <span class="exam-limit" v-if="timeLeft < 0">考试不限时间&nbsp;&nbsp;</span>
                    <span v-else>
                        <span class="exam-limit">考试剩余时间&nbsp;&nbsp;</span>
                        <span class="exam-time time-alert">{{ timeLeft | formatTime }}</span>
                    </span>
                </div>
                <button type="button" class="btn btn-success col-1 offset-11" @click="handleSubmit">我要交卷</button>
            </div>
        </div>
    </div>

    <!-- 试卷内容部分 -->
    <div id="main" class="container">
        <div class="row">
            <!-- 试卷主体 -->
            <div class="col-9">
                <div>
                    <div class="question" v-for="(item, index) in questions"
                         :id="'qs_' + (index + 1)" @dblclick="handleMark(index + 1)"
                         :class="{marked: marked.includes(index + 1)}">
                        <div class="topic_type">
                            <em></em>
                            <h2>{{ item.type | typeToStr }} <span>（本题{{ item.qpscore }}分）</span></h2>
                        </div>
                        <div class="question_content">
                            <div class="question_stem">
                                <span>{{ index + 1 }}. </span>{{ item.stem }}
                            </div>
                            <div class="question_select">
                                <!-- 填空题 -->
                                <div class="form-group" style="margin-top: 20px;" v-if="item.type === 'fill'">
                                    <div class="input-group mb-2" v-for="index in item.blankNum">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text">填空{{ index }}</label>
                                        </div>
                                        <input type="text" class="form-control" placeholder="输入答案"
                                               :value="answers[item.questionID].choice[index]"
                                               @blur="handleFillAnswer(item, index - 1, $event)"
                                               @keydown.enter="handleFillAnswer(item, index - 1, $event)">
                                    </div>
                                </div>
                                <!-- 选择题 -->
                                <div class="select_item" v-else v-for="(choice, cidx) in item.choices">
                                    <input class="num" type="button" name="question_1"
                                           :value="toLetter(cidx)" @click="handleSelectAnswer(item, $event)"
                                           :class="{
                                               chosen: answers[item.questionID].choice.includes(toLetter(cidx))
                                           }">
                                    <span>{{ choice }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 答题卡 -->
            <div class="col-3" style="padding: 0;">
                <div id="sidebar" class="answer-card">
                    <h3 style="text-align: center; margin-top: 16px;">答题卡</h3>
                    <hr/>
                    <div class="card-item" v-if="questionStat.select.length">
                        <h6>单项选择题</h6>
                        <div class="list">
                            <a :href="'#qs_' + item.idx" class="num" v-for="item in questionStat.select"
                               :class="{
                                    chosen: answers[item.questionID] && (answers[item.questionID].choice.length > 0),
                                    marked: marked.includes(item.idx)
                               }">
                                {{ item.idx }}
                            </a>
                        </div>
                    </div>
                    <div class="card-item" v-if="questionStat.multi.length">
                        <h6>多项选择题</h6>
                        <div class="list">
                            <a :href="'#qs_' + item.idx" class="num" v-for="item in questionStat.multi"
                               :class="{
                                    chosen: answers[item.questionID] && (answers[item.questionID].choice.length > 0),
                                    marked: marked.includes(item.idx)
                               }">
                                {{ item.idx }}
                            </a>
                        </div>
                    </div>
                    <div class="card-item" v-if="questionStat.fill.length">
                        <h6>填空题</h6>
                        <div class="list">
                            <a :href="'#qs_' + item.idx" class="num" v-for="item in questionStat.fill"
                               :class="{
                                    chosen: answers[item.questionID]
                                        && (answers[item.questionID].choice.filter(ele => ele).length > 0),
                                    marked: marked.includes(item.idx)
                               }">
                                {{ item.idx }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="decoration-line">
        <span class="end">试卷到达结尾</span>
    </div>
</div>

<script src="/static/dist/testOnline.js"></script>
</body>
</html>