<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>考试列表</title>
    <link rel="shortcut icon" type="image/icon" href="/static/img/logo_black.png">

    <link rel="stylesheet" href="/static/adminlte/css/adminlte.min.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">

    <style>
        .timeline-body .exam-info {
            font-size: 14px;
            color: gray;
            display: block;
            padding: 2px 20px;
        }
    </style>
</head>
<body class="sidebar-mini layout-fixed">
<div class="wrapper" id="pane">
    <nav-bar></nav-bar>
    <side-bar></side-bar>

    <div class="content-wrapper" style="min-height: 1370px;">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>考试列表</h1>
                    </div>
                    <div class="col-sm-6" style="padding-right: 17px;">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">我的班级</a></li>
                            <li class="breadcrumb-item active">数据库</li>
                        </ol>
                    </div><!-- /.col -->
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="timeline">
                            <template v-for="item in exams">
                                <div class="time-label">
                                    <span class="bg-gradient-green" v-if="needLabel(item.tstart)">
                                        {{ item.tstart | formatDate }}
                                    </span>
                                </div>
                                <!-- timeline item -->
                                <div>
                                    <i class="fas fa-pen bg-blue"></i>
                                    <div class="timeline-item">
                                        <h3 class="timeline-header p-3">{{ item.tname }}</h3>

                                        <div class="timeline-body">
                                            <span class="exam-info">满分：{{ item.pscore }} 分</span>
                                            <span class="exam-info">题量：{{ item.pnum }} 题</span>
                                            <span class="exam-info">开始时间：{{ item.tstart | formatDateTime }}</span>
                                            <span class="exam-info">结束时间：{{ item.tend | formatDateTime }}</span>
                                        </div>
                                        <div class="timeline-footer text-right">
                                            <template v-if="role === 'mentor'">
                                                <a class="btn btn-primary ml-auto"
                                                   :href="'/class/stat?cno=' + params['cno'] + '&tno=' + item.tno">
                                                    查看统计
                                                </a>
                                                <a class="btn btn-danger ml-auto" href="#" v-if="role === 'mentor'"
                                                   @click="deleteExam(item)">
                                                    删除考试
                                                </a>
                                            </template>
                                            <template v-else-if="role === 'student'">
                                                <span v-if="item.over">
                                                    {{ item.score }} / {{ item.maxScore }}
                                                </span>
                                                <a class="btn btn-primary ml-auto" v-else
                                                   :href="'/exam/detail?tno=' + item.tno">
                                                    参加考试
                                                </a>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                                <!-- END timeline item -->
                            </template>
                            <div>
                                <i class="fas fa-pencil-ruler bg-gray"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <main-footer></main-footer>
</div>

<!-- jQuery -->
<script src="/static/js/jquery-3.5.1.min.js"></script>
<!-- Bootstrap 4.5 -->
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/adminlte/js/adminlte.min.js"></script>
<script src="/static/dist/testList.js"></script>
</body>
</html>
